fastapi
uvicorn[standard]
pandas
pdfplumber
openpyxl
pydantic
sqlalchemy
pydantic-settings
alembic
psycopg[binary]>=3.0.0
python-dotenv>=1.0.0
python-jose[cryptography]
passlib
bcrypt==4.0.1
python-multipart
python-calamine
celery
redis
celery>=5.3.6
redis>=5.0.1
